

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form #signUp="ngForm" (ngSubmit)="onSignin()">
        <!-- ngform holds the template driven form -->
      <ng-container ngModelGroup="UserDetails">
        <div class="form-group">
          <label for="userName">Username*</label>
          <!-- <input
          (keyup)="onusernameKeyup($event)"
          required
          ngModel
          minlength="8"
          maxlength="12"
          #userName = "ngModel"
          name="userName"
          type="text" class="form-control" id="userName"
          pattern="[a-zA-Z]+"> -->
          <input
          (keyup)="onusernameKeyup($event)"
          required
          ngModel
          minlength="8"
          maxlength="12"
          #userName = "ngModel"
          name="userName"
          type="text" class="form-control" id="userName"
          pattern="[a-zA-Z]+">
          <!-- in above method we cant need to bind event we directly use observable i.e value changes -->

          <strong class="text-danger" *ngIf="userName.touched && userName.hasError('required')"
          >Username is required field</strong>

          <ng-container *ngIf="userName.dirty">
            <strong class="text-danger"
          *ngIf="userName.hasError('pattern')"
          >Invalid pattern</strong>

          <strong class="text-danger"
          *ngIf="userName.hasError('minlength')"
          >Minimum length should be 8 characters</strong>
          </ng-container>

          <strong class="text-danger"
          *ngIf="userNameMaxFlag"
          >Maximum length should be 12 characters</strong>
        </div>

        <div class="form-group">
          <label for="email">Email*</label>
          <input required
          ngModel
          #email ="ngModel"
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
          name="email" type="text" class="form-control" id="email">
          <strong class="text-danger" *ngIf="email.touched && email.hasError('required')">Email is required field</strong>

          <strong class="text-danger"
          *ngIf="email.dirty && email.hasError('pattern')"
          >Invalid pattern</strong>
        </div>
      </ng-container>

      <div class="form-group">
        <label for="SecretQuestions">SecretQuestions*</label>
        <select class="form-control"
        required
        ngModel
        #SecretQuestions = "ngModel"
        type="text" name="Secret Questions"
        id="Secret Questions">
        <option value="Favourite Movie">Favourite Movie</option>
        <option value="Favourite Place">Favourite Place</option>
        </select>

        <strong class="text-danger" *ngIf="SecretQuestions.touched && SecretQuestions.hasError('required')" >
         SecretQuestions is required field.
        </strong>


        </div>

        <div class="form-group">
          <label for="answer">Answer*</label>
          <input required ngModel
          #answer ="ngModel"
          name="answer"
          class="form-control"
           type="text">
           <strong class="text-danger" *ngIf="answer.touched && answer.hasError('required')">
            Answer filed is required
           </strong>
        </div>

        <div class="form-group">
          <label for="isSubscribed">
            <input type="checkbox" ngModel name="isSubscribed" id="isSubscribed">
            subscribed for daily emails
          </label>
        </div>

        <div class="form-group">
          <label [for]="moc.mode" *ngFor="let moc of contactMode" class="mr-0">
            <input type="radio"
            ngModel
            [value]="moc.mode"
            [id]="moc.mode"
            name="moc">
            {{moc.mode}}
          </label>
          <!-- <label for="mocPhone" class="mr-3">
          <input type="radio" ngModel value="phone" id="mocPhone" name="moc">
          Phone
          </label>
          <label for="mocEmail" class="mr-3">
            <input type="radio" ngModel value="Email" id="mocEmail" name="moc">
            Email
            </label> -->
        </div>

      <button

      class="btn btn-sm btn-block bg-primary">Sign Up</button>
      <button
      (click)="onEdit()"
       type="button"
      class="btn btn-sm btn-block bg-primary">Patch info</button>
      </form>
      <!-- <h1>
        {{signUp.value | json}}
      </h1> -->
    </div>
  </div>
</div>


<!-- [disabled]="signUp.invalid" -->
